@media (max-width: 640px) {
    .navbar {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar .navlinks,
    .navbar .waitlist {
        display: none;
    }
    
    .textarea {
      width: 80vw;
      height: 6rem;
      font-size: 14px;
    }

    .textarea-gradient {
        width: 20%;
    }

    .marble:hover ~ .prompt .textarea-gradient {
        width: 40%;
    }

    .textarea-gradient2 {
        left: 20%;
        width: 40%; 
    }

    .step {
        flex-direction: column;
        justify-content: center;
    }

    .step-text {
        align-items: center;
    }

    .step-icon {
        margin-left: 0;
    }

    .line {
        width: 100%;
    }
}