@media (max-width: 640px) {
    .navbar {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar .navlinks,
    .navbar .waitlist {
        display: none;
    }
    
    .textarea {
      width: 80vw;
      height: 6rem;
      font-size: 14px;
    }

    .step {
        flex-direction: column;
        justify-content: center;
    }

    .step-text {
        align-items: center;
    }

    .step-icon {
        margin-left: 0;
    }

    .line {
        width: 100%;
    }
}